:host {
  display: flex;
  align-items: center;
  height: 103px;
  width: 100%;
  z-index: 10;
  padding: 24px 32px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.header-link {
  font-weight: 700;
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.546);
}

.header-link:hover {
  color: #01589b79;
}

.header-link.active {
  color: #01589b;
}

.tell {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  color: rgb(9, 29, 41);
}

burger-button {
  display: none;
}

@media (max-width: 1200px) {
  .tell {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-link {
    display: none;
  }

  burger-button {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  :host {
    padding: 24px 16px;
  }
}
