<main-page-section id="home" class="home-section">
  <page-title />
</main-page-section>

<main-page-section title="Про Клініку" id="about">
  <div class="about-section">
    <p class="about-text">
      Наша клініка надає комплексні послуги у галузі психології, психіатрії та
      фізіотерапії, спрямовані на всебічну підтримку вашого здоров'я та
      благополуччя. Ми пропонуємо професійну мануальну терапію, комплексну
      рухова терапія, усі види масажу. Наша місія – покращення якості життя
      пацієнтів через індивідуальний підхід та сучасне лікування!
    </p>
    <div class="img"></div>
  </div>
</main-page-section>

<main-page-section title="Послуги" id="services">
  <service-units-list />
</main-page-section>

<main-page-section title="Команда" id="team">
  <member-list />
</main-page-section>

<main-page-section title="Контакти" id="contacts">
  <contacts />
</main-page-section>
