<main-page-section title="Про Клініку">
  <p class="about-text">
    Наша клініка надає комплексні послуги у галузі психології, психіатрії та
    фізіотерапії, спрямовані на всебічну підтримку вашого здоров'я та
    благополуччя. Ми пропонуємо професійну мануальну терапію, комплексну рухова
    терапія, усі види масажу. Наша місія – покращення якості життя пацієнтів
    через індивідуальний підхід та сучасне лікування!
  </p>
</main-page-section>

<main-page-section title="Послуги">
  <service-units-list />
</main-page-section>

<main-page-section title="Команда">
  <member-list />
</main-page-section>

<main-page-section title="Контакти">
  <contacts />
</main-page-section>
