.price-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
}
.price-table th,
.price-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}
.price-table th {
  background-color: #f4f4f4;
}
.price-table .service-name {
  max-width: 70%;
  white-space: normal; /* Позволяет тексту переноситься */
}

.price-table .service-price {
  white-space: normal;
}

.subtitle {
  text-align: center !important;
  font-weight: 700;
  font-size: 1.5rem;
}

.service-name {
  text-align: start;
}

.service-price {
  text-align: center;
  white-space: normal;
}

@media (max-width: 600px) {
  .price-table .service-name {
    width: 70%; /* Ограничиваем ширину ячейки с названием */
  }
  .price-table .service-price {
    max-width: 30%; /* Ширина ячейки с ценой */
  }
}
