<div class="contacts-wrap">
  <ul class="contacts-info-list">
    <li class="contact">
      <h4 class="contact-title">Адреса:</h4>
      <p class="contact-text">
        м.Харків, вул. Григорія Сковороди (колишня Пушкінська) 79/1
      </p>
    </li>

    <li class="contact">
      <h4 class="contact-title">Графік роботи:</h4>
      <p class="contact-text">Пн-Пт. 9:00-17:00</p>
    </li>

    <li class="contact">
      <h4 class="contact-title">Телефони:</h4>
      <p class="contact-text">
        <a class="phone-number" href="tel:+1234567890">(123) 456-7890</a> |
        <a class="phone-number" href="tel:+1234567890">(123) 456-7890</a>
      </p>
    </li>

    <li class="contact">
      <h4 class="contact-title">Електронна пошта:</h4>
      <p class="contact-text">
        <a
          class="mail"
          href="mailto:info@example.com?subject=Inquiry&body=Hello, I would like to know more about your services."
        >
          info&#64;example.com
        </a>
      </p>
    </li>
  </ul>
</div>

<contact-map />
