<table class="price-table">
  <thead>
    <tr>
      <th>Послуга</th>
      <th>Ціна (грн)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="service-name">
        Електроенцефалографія (рутинна, тривалість до 30 хв)
      </td>
      <td class="service-price">300-600</td>
    </tr>
    <tr>
      <td class="service-name">
        Електронейроміографія стимуляційна (одна кінцівка)
      </td>
      <td class="service-price">300-600</td>
    </tr>
    <tr>
      <td class="service-name">Електроміографія голкова</td>
      <td class="service-price">300-600 + ціна голки 10€</td>
    </tr>
    <tr>
      <td class="service-name">Неврологічний огляд немовлят</td>
      <td class="service-price">300-600</td>
    </tr>
    <tr>
      <td class="service-name">Неврологічний огляд дитини</td>
      <td class="service-price">300-500</td>
    </tr>
    <tr>
      <td class="service-name">Консультація епілептолога первинна</td>
      <td class="service-price">500-1000</td>
    </tr>
    <tr>
      <td class="service-name">Допплерографія магістральних судин шиї</td>
      <td class="service-price">400-600</td>
    </tr>
    <tr>
      <td class="service-name">ЕКГ</td>
      <td class="service-price">150-250</td>
    </tr>
    <tr>
      <td class="service-name">Холтер-ЕКГ</td>
      <td class="service-price">800-1000</td>
    </tr>
  </tbody>
</table>

<p class="warning">
  В ціни не враховані росходні матеріали: гель електропровідний/для УЗД, клеючі
  електроди, папір, папір для ЕКГ, для фото допплеру, заправка картриджей
  Точніше мінімальна ціна не може включати розхідні матеріали
</p>
