<div class="home-content">
  <div class="home-title-wrap">
    <h1 class="home-title">
      {{ title }}
    </h1>
    <p class="home-description">
      Наша клініка надає комплексні послуги у галузі психології, психіатрії та
      фізіотерапії, спрямовані на всебічну підтримку вашого здоров'я та
      благополуччя. Ми пропонуємо професійну мануальну терапію, комплексну
      рухова терапія, усі види масажу. Наша місія – покращення якості життя
      пацієнтів через індивідуальний підхід та сучасне лікування!
    </p>
  </div>
</div>
