<table class="price-table">
    <thead>
        <tr>
            <th>Послуга</th>
            <th>Ціна (грн)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="service-name">Голкорефлексотерапія (акупунктура від 7 до 15 голок)</td>
            <td class="service-price">400</td>
        </tr>
        <tr>
            <td class="service-name">Аурикулопунктура (вухо)</td>
            <td class="service-price">200</td>
        </tr>
        <tr>
            <td class="service-name">Лазерорефлексотерапія</td>
            <td class="service-price">300</td>
        </tr>
        <tr>
            <td class="service-name">Магніторефлесотерапія</td>
            <td class="service-price">300</td>
        </tr>
        <tr>
            <td class="service-name">Електроакупунктура</td>
            <td class="service-price">300</td>
        </tr>
        <tr>
            <td class="service-name">Вакуумрефлесотерапія (скляні банки)</td>
            <td class="service-price">300</td>
        </tr>
        <tr>
            <td class="service-name">Вакуумрефлесотерапія (пневматичні банки)</td>
            <td class="service-price">200</td>
        </tr>
        <tr>
            <td class="service-name">Перкусійний масаж</td>
            <td class="service-price">200</td>
        </tr>
        <tr>
            <td class="service-name">Масаж загальний</td>
            <td class="service-price">650</td>
        </tr>
        <tr>
            <td class="service-name">Масаж (однієї частини тіла)</td>
            <td class="service-price">400</td>
        </tr>
        <tr>
            <td class="service-name">Комплексний масаж спини</td>
            <td class="service-price">700</td>
        </tr>
        <tr>
            <td class="service-name">Масаж спини</td>
            <td class="service-price">400</td>
        </tr>
        <tr>
            <td class="service-name">Масаж шийно-коміркової зони</td>
            <td class="service-price">350</td>
        </tr>
        <tr>
            <td class="service-name">Спортивний масаж</td>
            <td class="service-price">450</td>
        </tr>
        <tr>
            <td class="service-name">Масаж нижніх кінцівок</td>
            <td class="service-price">400</td>
        </tr>
        <tr>
            <td class="service-name">Міофасціальний реліз при дорсалгії</td>
            <td class="service-price">500</td>
        </tr>
        <tr>
            <td class="service-name">М’які техніки мануальної терапії</td>
            <td class="service-price">500</td>
        </tr>
        <tr>
            <td class="service-name">Мануальна терапія хребетного стовпа</td>
            <td class="service-price">800</td>
        </tr>
        <tr>
            <td class="service-name">Краніосакральна мануальна терапія</td>
            <td class="service-price">700</td>
        </tr>
        <tr>
            <td class="service-name">Комплексна мануальна терапія зони великого суглоба (плечового, тазостегнового)</td>
            <td class="service-price">800</td>
        </tr>
        <tr>
            <td class="service-name">Лікувальна блокада при дискогенній патології</td>
            <td class="service-price">500</td>
        </tr>
        <tr>
            <td class="service-name">Фармакопунктура</td>
            <td class="service-price">400</td>
        </tr>
        <tr>
            <td class="service-name">Локальна лікувальна ін’єкційна терапія</td>
            <td class="service-price">400</td>
        </tr>
        <tr>
            <td class="service-name">Комплекс ПІР при больових синдромах</td>
            <td class="service-price">500</td>
        </tr>
        <tr>
            <td class="service-name">Індивідуальне заняття лікувальною гімнастикою</td>
            <td class="service-price">400</td>
        </tr>
        <tr>
            <td class="service-name">Заняття лікувальною гімнастикою в групі</td>
            <td class="service-price">200</td>
        </tr>
        <tr>
            <td class="service-name">Комплексний сеанс лікування больових синдромів (60 хвилин)</td>
            <td class="service-price">2000</td>
        </tr>
        <tr>
            <td class="service-name">Комплексний сеанс лікування больових синдромів (90 хвилин)</td>
            <td class="service-price">3000</td>
        </tr>
        <tr>
            <td class="service-name">Комплексний сеанс лікування больових синдромів (120 хвилин)</td>
            <td class="service-price">4000</td>
        </tr>
        <tr>
            <td class="service-name">Редкорд терапія</td>
            <td class="service-price">650</td>
        </tr>
        <tr>
            <td class="service-name">Комплексна рухова терапія</td>
            <td class="service-price">700</td>
        </tr>
    </tbody>
</table>