:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 40px 0;
  width: 100%;
  min-height: 100dvh;
}

.section-title {
  width: fit-content;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 3rem;
}
